@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* font-family: 'Permanent Marker',cursive;
font-family: 'Poppins',sans-serif; */

*,*::after,*::before{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

body{
  padding: 0;
  margin: 0;
  background: #e1eec3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f05053, #e1eec3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f05053, #e1eec3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.output{
  border: 0px solid white;
  border-bottom: none;
}
.calculator-grid{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  
}

.calculator-grid > button{
  cursor: pointer;
  font-size: 2rem;
  padding: 1px;
  border: 1px solid rgba(255, 255, 255, 0.205);
  outline: none;
  background: rgba(0, 0, 0, 0.9);
  color: white;
}


.calculator-grid>button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.span-two{
  grid-column: span 2;
}

.output{
  grid-column: 1/-1;
  background-color: rgba(0,0,0,.75);
  display: flex;
  align-items: flex-end;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand{
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.output .current-operand{
  color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
}
