*{
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

.fnav{
  display: flex;
  justify-content: center ;
  justify-content: space-around;
  padding: 6px;
  color: white;
  background-color: rgb(42,42,68);
}

.fnav .left{
  display: flex;
  margin-top: 10px;
}

.left img{
  width: 18%;
}
.left input{
  margin-inline:11px;
  width: 500px;
  height: 40px;
  border: none;
  outline: none;
  text-align: center;
  margin-top: 23px;
  border-radius: 2px;
  
}

.fnav .right {
  display: flex;
  margin-top: 16px;
}
.right p{
  margin-inline: 22px;
  font-size: 22px;
}
.right button {
  margin-inline: 22px;
  width: 80px;
  height: 27px;
  border: none;
  border-radius: 2px;
  background-color: rgb(224, 78, 102);
  color: white;
}
.right button:hover{
  cursor: pointer;
}
.right i {
  margin-inline: 22px;
  font-size: 22px;
}
.sec-nav{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 9px;
  background-color: rgb(26,26,48);
  color: white;
}

.sec-nav .s-left{
  display: flex;

}
.sec-nav .s-right {
  display: flex;

}
.sec-nav p:hover{
  color: rgb(245,70,99);
  cursor: pointer;
  font-weight: 600;
}
.s-left p{
  margin-inline:16px;
}
.s-right p {
  margin-inline: 16px;
}

.main img{
  width: 100%;
}

.container h2{
  text-align: center;
  padding: 22px;
}

.container .card{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.card img{
  width: 17%;
  margin-block: 15px ;
  border-radius: 5px;
}
.banner img{
  width: 100%;
  margin-top: 44px;
}

.premiere{
  background-color: rgb(8, 8, 19);
  color: white;
  padding: 33px;
  margin-top: 44px;
}

.container .card{
  margin-top: 11px;
}

.footer{
  background-color: rgb(227, 218, 218);
  padding: 33px;
  margin-top: 44px;
}

.footer img{
  width: 22%;
  margin-left: 39%;
  border-top: 2px solid gray;
}

.footer .icon{
  display: flex;
  justify-content: center;
  text-align: center;
  
}

.icon i{
  margin-inline: 22px;
  font-size: 36px;
  
}